# Application
NODE_ENV=development
APP_PORT=3000
PROD_APP_PORT=3100

# MariaDB
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_DATABASE=mlops_db
MARIADB_USER=admin
MARIADB_PASSWORD=admin_password
MARIADB_ROOT_PASSWORD=root_password

# MinIO
MINIO_ENDPOINT=127.0.0.1
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin_password
MINIO_BUCKET_IMAGES=captcha-images
