NODE_ENV=development

APP_PORT_DEV=3000
APP_PORT_PROD=3100

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=captcha_user
DB_PASSWORD=change-me
DB_NAME=captcha_iteso
DB_ROOT_PASSWORD=change-me

DATABASE_URL=mysql://captcha_user:change-me@127.0.0.1:3306/captcha_iteso

MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=change-me
MINIO_BUCKET_NAME=captcha-images

UPLOAD_MAX_BYTES=5242880
UPLOAD_MIME_ALLOWLIST=image/jpeg,image/png
